
.md-dialog-container {
    z-index: 100000;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.dialog-icon{
    width: 900px !important;
    height: 700px !important;
    /*max-width: 0%;*/
    /*max-height: 0%;*/
}
table {
    width: 100%;

}
table td{
    padding: 10px 10px;
    text-align: center;
}
td:hover >i{
    cursor: pointer;
    color: red;
}
.selectType{

    width: 150px;
    margin-top: 10px;
}




/*.md-dialog-container {  z-index: 2020; }*/
/**/